:root{
    --button-bg-color:#8B4513;
    --nav-color:#D2B4BC;
    --dark-color:#333333;
    --shadow-white-color:#F5F5F5;
    --white-color:#FFFFEF;
    --background-color:#5C3A21;
    --h1-color:#8B4513;


     
    --card-radius: 12px;
    --space: 25px;

}
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     }
     html{
        scroll-behavior:smooth;
     }

 body {
margin: 0;
padding: 0;
font-family: "Roboto", sans-serif;
background-color: #D2B4BC;
background-position: cover;
background-repeat: no-repeat;
 }
 h1,h2, h3{
    font-family: "Poppins", sans-serif;
 }

nav{
background-color: var(--dark-color);
box-shadow: #F8F5EF;

}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #FFFFEF;
}
nav ul img{
    background-color: #f2ebe691;
    width: 100%;
    padding: 2px;
    display: none;

}
nav a:hover{
    background-color: #5f420a;
}

nav ul li:first-child{
    margin-right:auto;
}

@media (max-width: 500px){
    
nav ul li:last-child{
    position: fixed;
    z-index: 30;
}

.nav_button{
    margin-right: 100px;
}


}

.nav_button{
    width: 100%;
    height: 100%;
    margin-right:20px;
    background-color: #b70909a1;
    padding: 5px;
    margin-right: 15px;
    text-align: center;
    font-size: var(--);
    border-radius: 10px;
    border: 1px solid #f3ebebd5;
    color: #ebdfe2;

}

@media (max-width:700px) {
     .d a{
        display: none;
    }

 .side-bar ul a{
        display: flex;
    }
    .nav_button{
        display: flex;
    }
    nav ul li img{
        width: 30px;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 10px;
        padding: -15px;
        display: flex;
    }
    .nav_button{
        margin-right: 100px;
        width: 50%;
        height: 90%;
        text-align: center;
        padding-top: 5px;
    }

    .form{
        width: 80%;
    }
}

.side-bar button{
    width: 80%;
    height: 8%;
    margin-right:10%;
    background-color: #b70909a1;
    padding: 5px;
    margin-left: 10%;
    text-align: center;
    font-size: var(--);
    border-radius: 10px;
    border: 1px solid #f3ebebd5;
    color: #ebdfe2;  
}


.nav_button:hover{
    background-color: rgba(120, 82, 47, 0.544);
}
.side-bar img{
    width: 40px;
    height: 80%;
    background: rgba(150, 96, 9, 0.787);

}


.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    backdrop-filter: blur(10px);
    z-index: 990;
    background-color: #20060e92;
    box-shadow: -10px 0 10px rgba(132, 128, 121, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.side-bar li{
    width: 100%;
}

.side-bar a{
    width: 100%;
}


form{
    display: none;
    flex-direction: column;
    padding: 50px;
    width: 35%;
    height: 60%;
    justify-content: center;
    align-items: left;
    position: fixed;
    align-self: center;
    justify-self: center;
    top: 10%;
    object-fit: cover;
    z-index: 999;
    background-color: #564423eb;
    border-radius: 17px;
    gap: 5px;
    color: #ebdfe2;
    cursor: pointer;
}
form img{
    margin-top: -30;
    margin-left: 93%;
    width: 30px;
}
legend{
    align-self: center;
    text-decoration: none;
    text-align: center;
    margin-top: -40;
    padding: 30px;
    font-family: 'Poppin',sans-serif;
    color: #f3eeee;
    font-size: clamp(0.5rem, 2vw, 2.5rem);
}
label{
    text-align: left;
    font-size:   clamp(0.5rem, 1.5vw, 2.rem);  
    padding: 1px;
}

form input{
    border: 1px solid #9a3e14;
    width: 95%;
    background-color: #dab59b95;
    height: 10%;
    color: #fff;
    font: bold;
    font-size: 17px;   ;
    border-radius: 3px;
}
form input::placeholder{
    color: #1f12129e;
    font-size: 15px;
}
form input:focus{
    color: #040303ec;
    background-color: #ebbc9b9f;
}
form input:last-child{
    width: 40%;
    margin-left: 55%;
    cursor: pointer;
    justify-self: center;
    border-color: #8B4513;
    background-color: #3e2709e6;
    margin-top: 5px;
    font-size: large;
}
form input:last-child:hover{
    background: transparent;
}
form img:hover{
    border:1.5px solid #F5F5F5;
    border-radius: 2px;
    box-shadow: #5f420a;
}



.hero{
    display: flex;
    background-color:#F7E7A9;
    justify-content: space-between;
    height:100vh;
    max-width:100%;
    font-family: var(--fonts);


}
.hero_description{
    display: flex;
    flex-direction: column;
     align-items:center;
    background-color: transparent;padding-left: 2px;  
}
.hero_description h1{
    font-size: clamp(2rem, 6vw, 7rem);
    color: var(--h1-color);
    padding: 50px;
}
.hero_description p{ 
    color: var(#333333);
    font-family: "Roboto", sans-serif;
    text-align:center;
    padding: 10px;
    width:50%;
    font-size: clamp(0.5rem, 2vw, 2.5rem);
    
}


.hero img{
    width: 50%;
    height: 100vh;
    object-fit: cover;
   -webkit-mask-image: linear-gradient(to left, white 70%, transparent 100%);
   mask-image: linear-gradient(to left, white 70%, transparent 100%);

}

.hero_description_button{
    justify-content: space-between;
    align-items: center;
    margin-left:10px ;
    max-width: 560px;
    
}
.hero_description_button button{
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--button-bg-color);
    color: var(--shadow-white-color); 
    transition: 1.3;
}
.hero_description_button button a{
    text-decoration: none;
    color: #fff;
}
.hero_description_button button:hover{
    background-color: #F7E7A9;
    color: #333333;
}

/*for @media of the hero section*/
@media( max-width: 700px){
.nav_link{
    display: none;
}
    .hero img{
        width: 50%;
    }
    
}



/*this is for the products*/
/*@media for hero ends here*/
.products{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffd;
    width: 100%;
    height: 100vh;
}
.product_heading h1{
    text-align: center;
    text-decoration: solid;
    padding: 0px;
    color: var(--h1-color);
}
.door{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space);
    height: 95vh;
    width: 90%;
    padding-bottom: 5px;
}
.doors{
    display: flex;
    background-color: white;
    padding: 15px;
    flex-direction: column;
    align-items: center;
}
.door_card_image{
    width: 100%;
    height: 50%;
    border-radius: 5px;
    object-fit: cover;
    transition: 0.7s;
}
.door_card_image img{
    width: 100%;
    height: 100%;
    
    
}
.door_card_image:hover{
    transform: translateY(-15px);
    
}
.door_words{
    text-align: center;
    padding: 10px;
}
.doors button{
    max-width: 200px;
    padding: 3px;
    min-width: 50px;
    min-height: 30px;
    text-decoration: none;
    max-height: 100px;
    border-radius: 10px;
    background-color: #F7E7A9;
}
.doors button a{
    text-decoration: none;
    color: #050101;
    padding: 3px;
}
.doors button:hover{
    background-color: #5C3A21;
    color: antiquewhite;
}
@media (max-width: 640px){

   .door{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
   } 

   .about_us_hero_image img{
    width: 100%;
    height: 100%;
   }
}


/*the is abot us*/
.about_us{
    display: flex;
    width: 100%;
    background-color: #F8F5EF;
    height: 100vh;
    gap:50px;
    align-items:center;
    padding: 20px;

    
}
.about_us_hero_image {
    width:40%;
    height:50%;
    display:flex;
    padding:0px;
    object-fit:cover;
}

.about_us_image img{
    width:100%;
    height:100%;
}
.about_hero_description{
    display:flex;
    width:40%;
    margin:10px;
}

.btn{
    min-width:50px;
    max-width:150px;
    min-height:30px;
    max-height:100px;
    border-radius:10px;
    margin-right:50px;
}
.btn:hover{
    background-color: #8B4513;
    color: #D2B4BC;
}

.feature{
    width:100%;
    height:100vh;
    align-items:center;
}
.feature h2{
    text-align:center;
    padding:5px;
    margin:5px;
}

@media(max-width:700px) {
    .feature_list{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        gap:10px;

    }   }
    
.feature_list{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:10px;
    align-items:center;
    border:1px solid #333333;
    width:100%;
    padding:10px;
    height:100vh;
}
.feature_class{
    border:1px solid #b70909;
    width: 100%;
    height:60%;
     border:none;
     justify-content: center;
     text-align: center;
    align-items:center;
}
.feature_class img{
    width:100%;
    height:50% ;
    padding: px;
}

/*footer*/
 footer{
    background-color: var(--dark-color);
    padding:2px;
 }

    .footer_list{display:grid;
    flex-direction:column;
    grid-template-columns: repeat(4, 0.5fr);
    gap:3px;
     color: var(--shadow-white-color);
    font-family:var(--fonts);
    
 }
 .footer_list a{
    color:#F7E7A9;
    text-decoration: none;
 }
 .footer_list a:hover{
    color: #b70909;
 }
 .socials a, i{
    margin: 10px;
    max-width: 40px;
    min-width: 30px;
 }
@media (max-width: 700px) {
    .footer_list a{
gap: 0px;
    }
}




.doorPro{
    display:grid;
    gap:50px;
}
.door h4{
    text-align:left;
    padding:3px;
}
